body{
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}
.marginRight {
    margin-right: 4em;
}
.fontBig{
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: normal;
}
.fontMedXl{
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: normal;
}
.fontMid{
    font-size: 1.1rem;
}
